name: CI

on:
    push:
        branches:
            - main
    pull_request:

permissions:
    actions: read
    contents: read

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            # Connect your workspace on nx.app and uncomment this to enable task distribution.
            # The "--stop-agents-after" is optional, but allows idle agents to shut down once the "build" targets have been requested
            # - run: pnpm exec nx-cloud start-ci-run --distribute-on="5 linux-medium-js" --stop-agents-after="build"

            - uses: pnpm/action-setup@v2
              with:
                  version: 8
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'pnpm'
            # TODO: Remove ignore scripts once https://github.com/nrwl/nx/issues/21823 is solved
            - run: pnpm install --frozen-lockfile --ignore-scripts
            - uses: nrwl/nx-set-shas@v4

            # may be needed for CI running on a PR
            # - run: git branch --track main origin/main

            # - run: pnpm exec nx-cloud record -- nx format:check
            - run: pnpm exec nx affected -t lint test build
